[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
	ignore = dirty
[submodule "thirdparty/emsdk"]
	path = thirdparty/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	ignore = dirty
